<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotCity</key>
	<array>
		<dict>
			<key>cityname</key>
			<string>北京</string>
			<key>citycode</key>
			<string>CN101010100</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>上海</string>
			<key>citycode</key>
			<string>CN101020100</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>重庆</string>
			<key>citycode</key>
			<string>CN101040100</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>杭州</string>
			<key>citycode</key>
			<string>CN101210101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>南京</string>
			<key>citycode</key>
			<string>CN101190101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>武汉</string>
			<key>citycode</key>
			<string>CN101200101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>沈阳</string>
			<key>citycode</key>
			<string>CN101070101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>长沙</string>
			<key>citycode</key>
			<string>CN101250101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>成都</string>
			<key>citycode</key>
			<string>CN101270101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>广州</string>
			<key>citycode</key>
			<string>CN101280101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>厦门</string>
			<key>citycode</key>
			<string>CN101230201</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>深圳</string>
			<key>citycode</key>
			<string>CN101280601</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>昆明</string>
			<key>citycode</key>
			<string>CN101290101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>西安</string>
			<key>citycode</key>
			<string>CN101110101</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>三亚</string>
			<key>citycode</key>
			<string>CN101310201</string>
		</dict>
	</array>
	<key>HotScenic</key>
	<array>
		<dict>
			<key>cityname</key>
			<string>九寨沟</string>
			<key>citycode</key>
			<string>CN10127190601A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>乌镇</string>
			<key>citycode</key>
			<string>CN10121020102A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>婺源</string>
			<key>citycode</key>
			<string>CN10124030301A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>凤凰</string>
			<key>citycode</key>
			<string>CN10125150503A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>西湖</string>
			<key>citycode</key>
			<string>CN10121010109A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>黄山</string>
			<key>citycode</key>
			<string>CN10122100105A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>漓江</string>
			<key>citycode</key>
			<string>CN10130050119A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>故宫</string>
			<key>citycode</key>
			<string>CN10101010018A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>敦煌</string>
			<key>citycode</key>
			<string>CN10116080801A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>泰山</string>
			<key>citycode</key>
			<string>CN10112080103A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>鼓浪屿</string>
			<key>citycode</key>
			<string>CN10123020112A</string>
		</dict>
		<dict>
			<key>cityname</key>
			<string>长白山</string>
			<key>citycode</key>
			<string>CN10106030301A</string>
		</dict>
	</array>
</dict>
</plist>
